/* Header */

/* Form */

/* Filtres */

#button2
{
    display: block;
}

#button1
{
    display: none;
}

/* Cards */

#leftcolumn
{
    background-color: white;
}

.gallery
{
    width: 325px;
    margin-bottom: 20px;
}

.gallery img
{
    width: 325px;
}

.img-activities
{
    width: 325px;
    height: 135px;
    object-fit: cover;
}

.activities
{
    height: 190px;
}

.row
{
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

/* Footer */