
/* Elements principaux de la page */ 

h1
{
    font-size: 1.4em;
    font-weight: bold;
}

h2
{
    font-size: 1em;
    font-weight: normal;
}

/* Header */

/* Form */

#button2
{
    display: block;
}

#button1
{
    display: none;
}

#marseille
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Filtres */

/* Cards */

#leftcolumn
{
    background-color: white;
}

#rightcolumn
{
    width: 375px;
}

.gallery
{
    width: 325px;
    margin-bottom: 20px;
}

.gallery img
{
    width: 325px;
}

.img-activities
{
    width: 325px;
    height: 135px;
    object-fit: cover;
}

.activities
{
    height: 190px;
}

.row
{
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

/* Footer */