
/* Elements principaux de la page */ 

body
{
    width: 100%;
    max-width: 375px;
}
h1
{
    font-size: 1.5em;
    font-weight: bold;
}

h2
{
    font-size: 1em;
    font-weight: normal;
}

/* Header */


/* Form */

#button2
{
    display: block;
}

#button1
{
    display: none;
}

/* Filtres */



/* Cards */

#marseille
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#leftcolumn
{
    background-color: white;
}

#rightcolumn
{
    width: 375px;
}

.row
{
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

.gallery
{
    width: 360px;
    margin-bottom: 20px;
}

.gallery img
{
    width: 360px;
}

#marseille p
{
    font-size: 1.3em;
    margin-top: 15px;
}

#activities
{
    margin-top: 30px;
    margin-bottom: 40px;
}

#fort img, #port img, #iles img, #calanques img, #notre_dame img, #parc img
{
    height: 135px;
    width: 360px;
    object-fit: cover;
}

#port img, #notre_dame img
{
    object-position: 0 15%;
}

#iles img, #calanques img, #parc img
{
    object-position: 0 25%;
}

#fort img
{
    object-position: 0 45%;
}

#fort, #port, #iles, #calanques, #notre_dame, #parc
{
    height: 180px;
    width: 360px;
    margin-bottom: 20px;
}

/* Footer */

footer h3
{
    margin-top: 40px;
}