/* Définition de la police personnalisée */
@font-face {
    font-family: "Raleway";
    src: url(Raleway/Raleway-Black.ttf);
    src: url(Raleway/Raleway-BlackItalic.ttf);
    src: url(Raleway/Raleway-Bold.ttf);
    src: url(Raleway/Raleway-BoldItalic.ttf);
    src: url(Raleway/Raleway-ExtraBold.ttf);
    src: url(Raleway/Raleway-ExtraBoldItalic.ttf);
    src: url(Raleway/Raleway-ExtraLight.ttf);
    src: url(Raleway/Raleway-ExtraLightItalic.ttf);
    src: url(Raleway/Raleway-Italic-VariableFont_wght.ttf);
    src: url(Raleway/Raleway-Italic.ttf);
    src: url(Raleway/Raleway-Light.ttf);
    src: url(Raleway/Raleway-LightItalic.ttf);
    src: url(Raleway/Raleway-Medium.ttf);
    src: url(Raleway/Raleway-MediumItalic.ttf);
    src: url(Raleway/Raleway-Regular.ttf);
    src: url(Raleway/Raleway-SemiBold.ttf);
    src: url(Raleway/Raleway-SemiBoldItalic.ttf);
    src: url(Raleway/Raleway-Thin.ttf);
    src: url(Raleway/Raleway-ThinItalic.ttf);
    src: url(Raleway/Raleway-VariableFont_wght.ttf);
}

/* Éléments principaux de la page */

body
{
    font-family: "Raleway-Regular", sans-serif;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section
{
    margin-left: 35px;
    margin-right: 35px;
}

h1
{
    font-size: 1.5em;
    font-weight: bold;
}

h2
{
    font-size: 1em;
    font-weight: normal;
}

h3
{
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 30px;
}

/* Header */

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    margin: 25px 0 25px 35px;
}

#logo img
{
    height: 40px;
    width: 90px;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    padding: 30px;
}

nav a
{
    text-decoration: none;
    color: #020202;
    font-size: 1em;
}

nav a:hover
{
    color: #0065FC;
    font-weight: bold;
}

nav a:visited
{
    color: #0065FC;
}

/* Section 1 */

#titles
{
   line-height: 25px;
}

#subtitle
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 15px 0 25px 0;
}

#subtitle h2
{
    padding-left: 10px;
}

#information
{
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 25px;
    width: 25px;
    font-size: 0.7em;
}

/* Form */

form
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 15px;
}

#map
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 1.2em;
}

#search
{
    height: 50px;
    border-left: none;
    border-right: none;
    border: 1px solid #F2F2F2;
    color: #020202;
    font-weight: bold;
    padding: 10px;
    margin: 0;
    font-size: 1em;
}

button
{
    height: 50px;
    border: 1px solid #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    color: white;
    padding: 15px;
    font-size: 1em;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

/* Filtres */

.filters
{
    display: flex;
    flex-direction: row;
}

#filters
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

#filters h3
{
    font-size: 1em;
}

.filter-container-icon
{
    color: #0065FC;
    background-color:#DEEBFF;
    border: 1px solid #DEEBFF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
}

.filters a
{
    text-decoration: none;
    color: #020202;
    font-weight: bold;
    padding: 15px;
    font-size: 1em;
}

.filters div
{
    border: 1px solid #d4d4d4;
    border-left: 0;
    border-radius: 50px;
    margin-right: 25px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filters a:hover
{
    color: #0065FC;
    text-decoration: none;
}

/* Section 2 : Hébergements + Les plus populaires */

#marseille
{
    display: flex;
    flex-direction: row;
}

#leftcolumn
{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    margin-right: 40px;
}

#rightcolumn
{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
}

.row
{
    display: flex;
    flex-direction: row;
    line-height: 20px;
}

.gallery
{
    background-color: white;
    border: 5px solid white;
    box-shadow: 0 0 1.5em rgb(219, 219, 219);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.gallery img
{
    height: 115px;
    width: 235px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-title
{
    display: flex;
    flex-direction: column;
    padding: 5px 0 5px 15px;
    width: 100%;
    height: 100%;
}

.card-title-bold
{
    font-weight: bold;
}

.gallery-cards
{
    margin-right: 30px;
}

#marseille p
{
    font-weight: bold;
    margin-top: 40px;
}

#lodgings
{
    margin-bottom: 20px;
}

/* Icones */ 

.card-title i
{
    color: #0065FC;
}

.greystar
{
    color: #d4d3d3 !important;
}

#popular
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-title-popular i
{
    color:#0065FC;
}

.icons
{
    margin-top: 55px;
}

#icon
{
    margin-top: 40px;
}

/* Aside : Les plus populaires */ 

.aside
{
    display: flex;
    background-color: white;
    border: 5px solid white;
    box-shadow: 0 0 1.5em rgb(219, 219, 219);
    border-radius: 20px;
    height: 135px;
    width: 330px;
    line-height: 20px;
}

.aside img
{
    height: 135px;
    width: 130px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card-title-popular
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 135px;
    padding: 10px;
}

.cards-margin
{
    margin-bottom: 30px;
}

/* Section 3 : Activités */

.columns
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
}

section a
{
    text-decoration: none;
    color: #020202;
}

.activities
{
    border-radius: 20px;
    box-shadow: 0 0 1.5em rgb(219, 219, 219);
}

.img-activities
{
    width: 300px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities figcaption
{
    padding: 10px 0 10px 20px;
    vertical-align: center;
    font-weight: bold;
}

#activities
{
    margin-top: 60px;
    margin-bottom: 20px;
}

#port img
{
    height: 390px;
}

#port
{
    height: 440px;
}

#fort img
{
    height: 180px;
}

#fort
{
    height: 230px;
}

#iles img
{
    height: 105px;
}

#iles
{
    height: 155px;
}

#calanques img
{
    height: 390px;
}

#calanques
{
    height: 440px;
}

#notre_dame img
{
    height: 135px;
}

#notre_dame
{
    height: 185px;
}

#parc img
{
    height: 150px;
}

#parc
{
    height: 200px;
}

/* Footer */

footer
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    background-color: #F2F2F2;
    margin-top: 60px;
    padding: 30px 0 30px 100px;
    width: 1320px;
}

#apropos, #charte, #aide
{
    display: flex;
    flex-direction: column;
}

footer a
{
    text-decoration: none;
    color: #020202;
    vertical-align: 10px;
}

footer a:hover
{
    color: #0065FC;
}

footer h3
{
    padding-right: 280px;
    padding-bottom: 10px;
}