
/* Elements principaux de la page */


#bloc-page
{
    width: 768px;
}

/* Section 1 */

#subtitle
{
    margin-bottom: 30px;
}

/* Form */

#button1
{
    display: block;
}

#button2
{
    display: none;
}

/* Filtres */

#filters
{
    height: 130px;
    flex-direction: column;
    align-items: flex-start;
}

#filters h3
{
    font-size: 1.1em;
    margin-top: 30px;
}

.filters div
{
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Cards : Lodgings + Popular */

#marseille
{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: initial;
}

.row
{
    flex-direction: column;
    width: 100%;
}

/* Cards : Lodgings */

#leftcolumn
{
    margin-top: 10px;
    padding: 20px;
    width: 50%;
}

#gallery1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.gallery
{
    flex-direction: row;
}

.gallery-div
{
    margin-right: 0;
}

.gallery-div:last-child
{
    margin-right: 0;
}

.gallery img
{
    width: 40%;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
}

.card-title
{
    width: 60%;
}

.gallery:nth-child(1), .gallery:nth-child(2), .gallery:nth-child(4), .gallery:nth-child(5)
{
    margin-right: 0;
}

.gallery:nth-child(1), .gallery:nth-child(2), .gallery:nth-child(3)
{
    margin-bottom: 10px;
}

#marseille p
{
    font-size: 1em;
    margin-top: 10px;
}

#lodgings
{
    margin-top: 30px;
}

/* Icones */ 

#popular
{
    margin-top: 30px;
}

/* Aside : Popular */ 

#rightcolumn
{
    padding: 20px;
    margin-top: 10px;
    margin-left: 20px;
    width: 50%;
    order: 2;
}

#cards-popular
{
    width: 100%;
}

.aside
{
    flex-direction: column;
    height: 220px;
    width: 100%;
}

.aside:nth-child(2)
{
    line-height: 23px;
    height: 250px;
}

.aside img
{
    width: 100%;
    height: 130px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
}

.aside:nth-child(1), .aside:nth-child(2)
{
    margin-bottom: 40px;
}

/* Cards : Activities */

.activities-container
{
    display: block;
    justify-content: initial;
    width: 50%;
}

.activities-container:nth-child(1)
{
    margin-right: 20px;
}

.activities-row
{
    justify-content: space-between;
    flex-wrap: nowrap;
}

#gallery2
{
    padding: 20px;
}

#activities
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.activities
{
    margin-right: 0;
}

.activities img
{
    width: 100%;
}

.activities figcaption
{
    vertical-align: middle;
}

#fort, #port, #iles, #calanques, #notre_dame, #parc
{
    height: 190px;
    width: 100%;
    margin-bottom: 20px;
}

#fort img, #port img, #iles img, #calanques img, #notre_dame img, #parc img
{
    height: 135px;
    width: 100%;
    object-fit: cover;
}

/* Footer */

footer
{
    margin-top: 30px;
}

footer h3
{
    margin-top: 20px;
}