
/* Elements principaux de la page */ 

#bloc-page
{
    margin-left: 0;
    margin-right: 0;
}

#section1
{
    padding-left: 20px;
    padding-right: 20px;
}

/* Header */

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    margin: 25px 0 25px 0;
}

#logo img
{
    height: 40px;
    width: 90px;
    margin-left: 15px;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    padding: 30px;
}

nav a
{
    text-decoration: none;
    color: #020202;
    font-size: 1em;
}

nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 53px;
}

nav a:visited
{
    color: #0065FC;
}

li:last-child
{
    font-weight: bold;
}

/* Form */

#map
{
    width: 70px;
}

#search
{
    width: 340px;
    padding: 15px;
    border: none;
    font-size: 1.2em;
}

form
{
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    width: 400px;
}

/* Filters */

#filters
{
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#filters h3
{
    font-size: 1.1em;
    margin-top: 30px;
}

.filters div
{
    margin-right: 10px;
    margin-bottom: 10px;
}

#subtitle
{
    margin-bottom: 30px;
    align-items: baseline;
}

/* Cards : Lodgings + Popular */

#marseille
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row
{
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

/* Aside : Popular */  

#popular
{
    margin-top: 20px;
}

.aside
{
    width: 325px;
}

#rightcolumn
{
    padding: 20px;
    width: 100%;
    border-radius: 0;
}

/* Cards : Lodgings */

#leftcolumn
{
    background-color: white;
    margin-top: 30px;
    padding: 20px;
    border-radius: 0;
}

.gallery
{
    width: 325px;
}

.gallery img
{
    width: 325px;
}

.gallery:nth-child(1), .gallery:nth-child(2), .gallery:nth-child(4), .gallery:nth-child(5)
{
    margin-right: 0;
}

#marseille p
{
    font-size: 1em;
    margin-top: 0;
}

/* Cards : Activities */

#gallery2
{
    padding: 20px;
}

#activities
{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 335px;
}

.activities
{
    width: 335px;
}

#fort, #port, #iles, #calanques, #notre_dame, #parc
{
    height: 190px;
    width: 335px;
    margin-bottom: 20px;
}

#fort img, #port img, #iles img, #calanques img, #notre_dame img, #parc img
{
    height: 135px;
    width: 335px;
    object-fit: cover;
}

#port img, #notre_dame img
{
    object-position: 0 15%;
}

#iles img, #calanques img
{
    object-position: 0 12%;
}

#parc img
{
    object-position: 0 20%;
}

#fort img
{
    object-position: 0 41%;
}

/* Footer */

footer
{
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px 0 20px 25px;
    width: auto;
}

footer h3
{
    margin-top: 20px;
    padding-right: 0;
}