/* Définition de la police personnalisée */
@font-face {
    font-family: 'Raleway';
    src: url(Raleway/Raleway-Black.ttf);
    src: url(Raleway/Raleway-BlackItalic.ttf);
    src: url(Raleway/Raleway-Bold.ttf);
    src: url(Raleway/Raleway-BoldItalic.ttf);
    src: url(Raleway/Raleway-ExtraBold.ttf);
    src: url(Raleway/Raleway-ExtraBoldItalic.ttf);
    src: url(Raleway/Raleway-ExtraLight.ttf);
    src: url(Raleway/Raleway-ExtraLightItalic.ttf);
    src: url(Raleway/Raleway-Italic-VariableFont_wght.ttf);
    src: url(Raleway/Raleway-Italic.ttf);
    src: url(Raleway/Raleway-Light.ttf);
    src: url(Raleway/Raleway-LightItalic.ttf);
    src: url(Raleway/Raleway-Medium.ttf);
    src: url(Raleway/Raleway-MediumItalic.ttf);
    src: url(Raleway/Raleway-Regular.ttf);
    src: url(Raleway/Raleway-SemiBold.ttf);
    src: url(Raleway/Raleway-SemiBoldItalic.ttf);
    src: url(Raleway/Raleway-Thin.ttf);
    src: url(Raleway/Raleway-ThinItalic.ttf);
    src: url(Raleway/Raleway-VariableFont_wght.ttf);
}

/* Éléments principaux de la page */

body
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin-left: 35px;
    margin-right: 35px;
    font-size: 0.7em;
}

section h1
{
    font-family: 'Raleway-SemiBold', Arial, Helvetica, sans-serif;
}

/* Header */

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

#logo img
{
    height: 37px;
    width: 75px;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    padding: 25px;
}

nav a
{
    text-decoration: none;
    /* padding-bottom: 3px; */
    color: #020202;
}

nav a:hover
{
    color: #0065FC;
}

nav a:visited
{
    font-weight: bold;
    color: #0065FC;
}

/* Section 1 */

section h1
{
    margin-bottom: 0;
}

section h2
{
    font-size: 0.9em;
}

/* Form */

form
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 15px;
}

#map
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 35px;
    width: 35px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#search
{
    height: 35px;
    border-left: none;
    border-right: none;
    border: 1px solid #F2F2F2;
    color: #020202;
    padding: 10px;
}

button
{
    height: 35px;
    border: 1px solid #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    color: white;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

/* Filtres */

.filters
{
    display: flex;
    flex-direction: row;
}

#filters
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

.filter-container-icon
{
    color: #0065FC;
    background-color:#DEEBFF;
    border: 2px solid #DEEBFF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
}

.filters a
{
    text-decoration: none;
    color: #020202;
    font-family: Raleway;
    font-weight: bold;
    padding: 8px;
}

.filters div
{
    border: 1px solid #d4d4d4;
    border-radius: 50px;
    margin-right: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filters a:hover
{
    color: #0065FC;
    text-decoration: none;
}

/* Section 2 */

#logements
{
    display: flex;
    flex-direction: row;
}

#leftcolumn
{
    background-color: #F2F2F2;
    border-radius: 10px;
    float: left;
    width: 70%;
    height: 40%;
    padding: 20px 25px 20px 25px;
    margin-right: 25px;
}

#rightcolumn
{
    float: left;
    width: 30%;
    height: 40%;
}

.row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery
{
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 2px;
    margin: 10px;
}

.gallery img
{
    height: 115px;
    width: 235px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

aside
{
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 20px 25px 20px 25px;
    /* margin: 0; */
    /* text-decoration: none; */
}

.aside
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 1px;
    margin-top: 20px;
}

.aside img
{
    height: 135px;
    width: 130px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-title a
{
    text-decoration: none;
    color: #020202;
    font-weight: bold;
}

/* Section 3 */

#activities
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.columns
{
    display: flex;
    flex-direction: column;
}

section a
{
    text-decoration: none;
    color: #020202;
}

#port img
{
    height: 390px;
    width: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#port
{
    border: 1px solid grey;
    border-radius: 10px;
    margin-right: 30px;
    height: 440px;
}

#fort img
{
    height: 180px;
    width: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#fort
{
    border: 1px solid grey;
    border-radius: 10px;
    margin-right: 30px;
    height: 230px;
}

#iles img
{
    height: 105px;
    width: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#iles
{
    border: 1px solid grey;
    border-radius: 10px;
    margin-right: 30px;
    height: 155px;
}

#calanques img
{
    height: 390px;
    width: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#calanques
{
    border: 1px solid grey;
    border-radius: 10px;
    margin-right: 30px;
    height: 440px;
}

#notre_dame img
{
    height: 135px;
    width: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#notre_dame
{
    border: 1px solid grey;
    border-radius: 10px;
    margin-right: 30px;
    height: 185px;
}

#parc img
{
    height: 150px;
    width: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#parc
{
    border: 1px solid grey;
    border-radius: 10px;
    margin-right: 30px;
    height: 200px;
}

/* Footer */

footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#apropos
{
    display: flex;
    flex-direction: column;
}

#charte
{
    display: flex;
    flex-direction: column;
}

#aide
{
    display: flex;
    flex-direction: column;
}

footer h1
{
    font-weight: bold;
}

footer a
{
    text-decoration: none;
    color: #020202;
}

footer a:hover
{
    color: #0065FC;
}

ul
{
    list-style-type: none;
}