/* Définition de la police personnalisée */
@font-face {
    font-family: 'Raleway';
    src: url(Raleway/Raleway-Black.ttf);
    src: url(Raleway/Raleway-BlackItalic.ttf);
    src: url(Raleway/Raleway-Bold.ttf);
    src: url(Raleway/Raleway-BoldItalic.ttf);
    src: url(Raleway/Raleway-ExtraBold.ttf);
    src: url(Raleway/Raleway-ExtraBoldItalic.ttf);
    src: url(Raleway/Raleway-ExtraLight.ttf);
    src: url(Raleway/Raleway-ExtraLightItalic.ttf);
    src: url(Raleway/Raleway-Italic-VariableFont_wght.ttf);
    src: url(Raleway/Raleway-Italic.ttf);
    src: url(Raleway/Raleway-Light.ttf);
    src: url(Raleway/Raleway-LightItalic.ttf);
    src: url(Raleway/Raleway-Medium.ttf);
    src: url(Raleway/Raleway-MediumItalic.ttf);
    src: url(Raleway/Raleway-Regular.ttf);
    src: url(Raleway/Raleway-SemiBold.ttf);
    src: url(Raleway/Raleway-SemiBoldItalic.ttf);
    src: url(Raleway/Raleway-Thin.ttf);
    src: url(Raleway/Raleway-ThinItalic.ttf);
    src: url(Raleway/Raleway-VariableFont_wght.ttf);
}

/* Éléments principaux de la page */

body
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin-left: 35px;
    margin-right: 35px;
}

section h1
{
    font-family: 'Raleway-SemiBold', Arial, Helvetica, sans-serif;
    font-size: 1em;
}

#bloc_page
{
    /* width: 900px; */
    /* margin: auto; */
}

/* @media all and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }
} */

/* Header */

header
{
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo img
{
    margin: right;
    width: 75px;
    height: 37px;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin: 15px;
}

nav a
{
    color: #020202;
    font-size: 0.7em;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC;
}

nav a:visited
{
    font-family: 'Raleway-Bold';
    color: #0065FC;
}

/* Section 1 */

section h2
{
    font-size: 0.7em;
    margin-top: 0;
    margin-bottom: 15px;
}

section h1
{
    font-size: 1em;
    margin-bottom: 5px;
}

#titles
/* {
    height: 60px;
} */

p
{
    font-size: 0.7em;
}

/* Form */ 

form
{
    display: flex;
}

#map
{
    background-color: #F2F2F2;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#search
{
    border: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    font-size: 0.9em;
    font-family: Raleway-ExtraBold;
    color: #020202;
    padding-left: 10px;
    height: 35px;
}

button
{
    background-color: #0065FC;
    color: white;
    border: 0;
    text-align: center;
    padding: 12px;
    font-size: 0.8em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 35px;
    width: 15%;
}

/* Filtres */

.fa-ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

span
{
    color: #0065FC;
    background-color:#DEEBFF;
    border: 1px solid #DEEBFF;
    border-radius: 50px;
    display: block;
    height: 100%;
    width: 100%;
    margin: auto;
}

.fa-ul a
{
    text-decoration: none;
    color: #020202;
    font-family: Raleway;
    font-weight: bold;
    font-size: 0.8em;
}

.fa-ul li
{
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    padding: 8px;
}

.fa-ul a:hover
{
    color: #0065FC;
    text-decoration: none;
}

p
{
    font-size: 0.7em;
}

/* Section 2 */

#logements
{
    display: flex;
}

#leftcolumn
{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 25px 20px 25px;
    float: left;
    width: 70%;
    height: 40%;
    margin-right: 25px;
    font-size: 0.7em;
}

.row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery
{
    padding: 2px;
    margin: 10px;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
}

/* .gallery:hover 
{
    border: 1px solid white;
} */

.gallery img
{
    height: 115px;
    width: 235px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#rightcolumn
{
    float: left;
    width: 30%;
    height: 40%;
}

aside
{
    background-color: #F2F2F2;
    margin: 0;
    padding: 20px 25px 20px 25px;
    border-radius: 20px;
    font-size: 0.7em;
    text-decoration: none;
}

.aside img
{
    height: 135px;
    width: 130px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.aside
{
    padding: 1px;
    margin: 10px;
    background-color: white;
    border: 4px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.card-title .card-content
{
    font-size: 0.7em;
}

.card-title a
{
    text-decoration: none;
    color: #020202;
    font-weight: bold;
}

/* Section 3 */

#activities
{
    display: flex;
}

.card img
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

